{% extends 'base.html' %}
{% block content %}


    	

    {% if name %}
            {% for message in get_flashed_messages() %}
       <div class="alert alert-info" role="alert">
      {{ message }}
       </div>
     {% endfor %}

        <h1>Hello {{ name }}</h1>
        <img src="{{ url_for('static', filename='images/bg.png') }}" alt="">
        <p id="demo">This is stuff</p>
    	{% else %}
        <h1>What's your name?</h1><br>
        <form action="/name" method="POST">
            {{ form.hidden_tag() }}
        {{ form.name.label(class='form-label') }}
        {{ form.name(class='form-control') }}<br>
        {{ form.submit(class='btn btn-primary') }}
        </form>
    {% endif %}

    <script src="{{ url_for('static', filename='js/myfile.js') }}"></script>
{% endblock %}