{% extends 'base.html' %}
{% block content %}




    {% if name %}
            {% for message in get_flashed_messages() %}
       <div class="alert alert-info" role="alert">
      {{ message }}
       </div>
     {% endfor %}

        <h1>Update User {{ name }}</h1><br>
<table class="table table-hover table-bordered table-striped">
<tr>
    <td>Serial No.</td>
    <td>Name</td>
    <td>Email Address</td>
</tr>
        {% for ouruser in our_users %}
            <tr>
            <td>{{ ouruser.id }}  </td>
              	<td><a href="{{url_for('update', id=ouruser.id)}}">{{ ouruser.name }}</a></td>
             <td>{{ ouruser.email }}</td>
            </tr>
        {% endfor %}

</table>

    	{% else %}
        <h1>Update User</h1><br>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">

        <form action="/update/{{ name_to_update.id }}" method="POST">
            {{ form.hidden_tag() }}
        {{ form.name.label(class='form-label') }}
        {{ form.name(class='form-control', value= name_to_update.name) }}<br>
                    {{ form.email.label(class='form-label') }}
        {{ form.email(class='form-control', value=name_to_update.email ) }}<br>
        {{ form.submit(class='btn btn-primary') }}
        </form>
        <hr>

    {% endif %}</div>

{% endblock %}